<h3>Order Form</h3>
<ul>
  <li>Size (required)</li>
  <ul>
    <li>Personal $7.99</li>
    <li>Medium (12") $12.99</li>
    <li>Large (16") $19.99</li>
  </ul>
  <li>Crust (required)</li>
  <ul>
    <li>Thin</li>
    <li>Thick</li>
    <li>Cauliflower</li>
    <li>Sourdough</li>
  </ul>
  <li>Sauce</li>
  <ul>
    <li>Red Sauce</li>
    <li>White Sauce</li>
    <li>None</li>
  </ul>
  <li>Toppings</li>
  For each topping, you can have it on the left or right half, or the whole pizza.<br />
  For extra of any of them, add $0.25. <br />
  Also, for every topping over 3 toppings, it's an additional $0.10 a topping.
  <ul class="toppings-list">
    <li>Meats</li>
    <ul>
      <li>Chicken (+ $0.49) <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Pepperoni <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Sausage (+ $0.99) <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Ham (+ $0.99) <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Hamburger (+ $0.49) <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
    </ul>
    <li>Cheeses</li>
    <ul>
      <li>Shredded Mozzarella <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Fresh Mozzarella <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Feta (+ $0.49) <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Ricotta (+ $0.49) <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Parmesan (+ $0.25) <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
    </ul>
    <li>Other</li>
    <ul>
      <li>Mushrooms <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Spinach <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Onions <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Sauteed Onions <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Black Olives <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Red Onions <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Broccoli <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Bell Peppers <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Pineapple <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Olive Oil <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
      <li>Balsamic Glaze <span class="circle">L</span> <span class="circle">W</span> <span class="circle">R</span> <span class="circle">XTRA</span></li>
    </ul>
  </ul>
</ul>
<h4>Total: ___________________</h4>
<button type="submit" routerLink="/order-placed">Submit Your Order</button>